<%
local section = arg[1]
local url = luci.model.uci:get("nodeagg", section, "agg_url") or "http://192.168.2.30/nodeagg.txt"
%>
<div class="cbi-value">
	<label class="cbi-value-title"><%:聚合地址%></label>
	<div class="cbi-value-field">
		<input type="text" id="nodeagg_agg_url" name="nodeagg.agg_url" value="<%=url%>" readonly style="width:300px;" />
		<input type="button" class="cbi-button" value="<%:复制%>" onclick="var u=document.getElementById('nodeagg_agg_url').value;navigator.clipboard.writeText(u).then(function(){alert('<%:已复制%>: '+u)})" />
	</div>
</div>
